<head>
<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
</head>

<h1 id="showname"> Add a recipe</h1>

<%= form_for @recipe do |f| %>
    <% if @recipe.errors.any? %>
        <% @recipe.errors.full_messages.each do |error| %>
            <li><%=error%></li>
            <% end %>
        <% end %>

    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :meal_type %>
    <%= f.text_field :meal_type, placeholder: "Breakfast/ Lunch/ Dinner/ Sweets" %>
    <%= f.label :user %>
    <%= f.collection_select :user_id, User.all, :id, :name%>

        <%= f.submit %>
    <% end %>

